/**style for the project*/
.hidden {
    display: none;
  }
  .inline1,
  .inline2 {
    display: inline-block;
  }
  .inline2 > button {
    color: white;
    background-color: rgb(23, 40, 134);
    border-radius: 3px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.1s;
    cursor: pointer;
  }
  .inline2 > button:hover {
    background-color: rgb(195, 131, 67);
  }


  #container > div > button {
    /* display: inline-block; */
    background-color: brown;
    color: white;
    transition: 0.1s;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    border-radius: 3px;
  }
  #container > div > button:hover {
    background-color: rgb(195, 131, 67);
  }